
div.background {
    background-image: url("1978transamsurvivor1108.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0: 
    left: 0;
    opacity: 0.35;
    z-index: -1;
}
div.infobox {
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    float: left;
    width: 23%;
    border-radius: 20px;
    color: #000000;
}

.warning {
  color: #ff0000;
}
